@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes roll-dice {
    0% {
      transform: rotate(-720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
  
  .dice {
    position: relative;
    animation: roll-dice 1s ease-out 1 forwards;
  }
  